#!/bin/sh
#
# $OpenBSD: rc.template,v 1.5 2011/03/10 13:46:59 ajacoutot Exp $

CONFFILE=${SYSCONFDIR}/mediagoblin.paste.ini
PIDFILE=${VARBASE}/run/mediagoblin.pid
LOGFILE=${VARBASE}/log/mediagoblin.log
CELERY_CONFFILE=${SYSCONFDIR}/mediagoblin.celery.ini
CELERY_LOGFILE=${VARBASE}/log/mediagoblin.celery.log
FCGIPORT=26543
CELERY_ALWAYS_EAGER=false

daemon="${TRUEPREFIX}/share/mediagoblin/bin/paster"
daemon_flags="serve ${CONFFILE} \
	--pid-file=${PIDFILE} \
	--log-file ${LOGFILE} \
	--server-name=fcgi fcgi_host=127.0.0.1 fcgi_port=${FCGIPORT}
	--daemon"
daemon_user="_mediagoblin"

daemon_celery="${TRUEPREFIX}/share/mediagoblin/bin/celeryd"
daemon_flags_celery="--pidfile=${CELERY_PIDFILE} -f ${CELERY_LOGFILE}"

. /etc/rc.d/rc.subr

#pexp="${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_bg=YES
rc_reload=NO

#rc_pre() {
#}

rc_start() {
	${rcexec} env -i CELERY_ALWAYS_EAGER=${CELERY_ALWAYS_EAGER} "${daemon} ${daemon_flags} ${_bg}"
	test "x$CELERY_ALWAYS_EAGER"!="xtrue" && \
		${rcexec} "env -i \
		MEDIAGOBLIN_CONFIG=${CELERY_CONFFILE} \
		CELERY_CONFIG_MODULE=mediagoblin.init.celery.from_celery \
		${daemon_celery} ${daemon_flags_celery} ${_bg}"
}

rc_check() {
	kill -0 `cat ${PIDFILE}`
	test "x$CELERY_ALWAYS_EAGER"!="xtrue" && \
		kill -0 `cat ${CELERY_PIDFILE}`
}

#rc_reload() {
#	pkill -HUP -f "^${pexp}"
#}

rc_stop() {
	kill `cat ${PIDFILE}`
	test "x$CELERY_ALWAYS_EAGER"!="xtrue" && \
		kill `cat ${CELERY_PIDFILE}`
}

#rc_post() {
#}

rc_cmd $1
-----------------------------------8<-----------------------------------
